.select {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 32px;
  position: relative;
  select {
    overflow: hidden;
    padding: 10px 14px;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 288px;
    height: 38px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
    appearance: none;
  }
  &::after {
    content: url('/img/arrow.svg');
    font-size: 1rem;
    top: 10px;
    right: 13px;
    position: absolute;
  }
}
