.itemBlock {
  padding-bottom: 32px;
  margin-top: 25px;
  border-bottom: 0.5px solid #CACDD8;
  display: flex;
  img {
    margin-right: 32px;
    background: #F7F6F6;
    width: 173px;
    height: 173px;
  }
  h5 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 14px;
  }
  &__desc {
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    max-width: 276px;
    margin-bottom: 16px;
  }
  &__price {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #050505;
  }
  &__actions {
    margin-top: 15px;
    display: flex;
    a {
      font-size: 14px;
      display: flex;
      align-items: center;
      text-align: center;
      text-decoration-line: underline;
      color: #000000;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  &__counter {
    margin-left: auto;
  }
}

.counterItem {
  width: 45px;
  height: 31px;
  background: #F7F6F6;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  padding: 10px 13px;
  align-items: center;
  p {
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
  &__actions {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    button {
      border: 0;
      background: #F7F6F6;
      cursor: pointer;
    }
  }
}
